:root {
  --bg-gradient: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.35),
    rgba(0, 0, 0, 0.35)
  );
  --form-bg-color: #1d1d1d;
  --input-bg-color: #37474f;
  --input-focus-border: #81c784;
  --button-bg-color: #00796b;
  --button-hover-bg-color: #004d40;
  --text-color-light: rgba(243, 244, 246, 1);
  --text-color-dark: rgba(156, 163, 175, 1);
  --label-font-size: 0.875rem;
  --input-font-size: 1rem;
  --button-font-size: 1.1rem;
}

.container-register {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: var(--bg-gradient), url("../../assets/movie-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.main-container {
  width: 400px;
  border-radius: 0.75rem;
  background-color: var(--form-bg-color);
  padding: 2rem;
  color: var(--text-color-light);
}

.main-container h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #fff;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  font-size: var(--label-font-size);
  line-height: 1.25rem;
}

.form-group label {
  color: var(--text-color-dark);
  margin-bottom: 4px;
}

.form-group input {
  padding: 0.8rem;
  font-size: var(--input-font-size);
  background: var(--input-bg-color);
  color: #fff;
  border: none;
  border-radius: 4px;
  outline: none;
  width: 100%;
}

.form-group input:focus {
  border: 2px solid var(--input-focus-border);
}

.submit-container {
  margin-top: 1rem;
  text-align: center;
}

.btn-register {
  display: inline-block;
  width: 100%;
  background-color: var(--button-bg-color);
  padding: 0.75rem;
  text-align: center;
  color: #fff;
  font-size: var(--button-font-size);
  font-weight: 800;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-register:hover {
  background-color: var(--button-hover-bg-color);
}

.login-link {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #aaa;
  text-align: center;
}

.login-link a {
  color: #fff;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}

.form-group.full-width {
  width: 100%;
}
