.form-box {
  max-height: 86vh;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin-top: -10px;
}

.search-bar {
  width: 700px;
  border-radius: 5px;
  padding: 10px;
}

.btn-search {
  margin-left: 10px;
}

.search-with-btn {
  margin-top: 5px;
  display: flex;
}

.title-text {
  font-size: 25pt;
  font-weight: bold;
}

.text-warning {
  width: 100%;
  height: 40px;
  background-color: rgb(255, 147, 147);
  color: white;
  border: red solid 1px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.text-searching {
  width: 100%;
  height: 40px;
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
}

.searched-movie {
  overflow: auto;
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  background-color: rgb(97, 97, 97);
  border-radius: 5px;
  margin: 10px 5px;
}

.list-movie {
  cursor: pointer;
  padding: 10px;
}

.list-movie:hover {
  background-color: gray;
}

.page-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -10px;
}

.movie-box {
  width: 100%;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-size: cover;
  object-fit: cover;
  background-position: center;
  z-index: -1;
  border-radius: 10px;
}

.image-box {
  display: flex;
  justify-content: center;
  height: 500px;
  width: 320px;
  padding: 10px;
}

.movie-details-box input,
.movie-details-box textarea {
  display: flex;
  margin-top: 5px;
  border-radius: 5px;
  padding: 5px;
  min-width: 370px;
}

.seletor-feature {
  display: flex;
  margin-top: 5px;
  border-radius: 5px;
  padding: 5px;
  min-width: 385px;
}

textarea {
  min-height: 140px;
  resize: none;
  scrollbar-width: none;
}

.button-box {
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
}

.btn-save {
  background-color: rgb(149, 220, 42);
  color: white;
}

.btn-save:hover {
  background-color: rgb(108, 220, 114);
}

.img-fluid {
  border-radius: 10px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
  border-width: 1px 1px 0 1px;
  margin: 0 5px 0 0;
  cursor: pointer;
  width: 200px;
  text-align: center;
  padding: 8px;
}

li:hover {
  background-color: gray;
}

.photo-tab,
.video-tab,
.cast-tab {
  border-radius: 8px 8px 0px 0px;
}
